BACKEND_API_URL=http://localhost:3001

# VAPID keys for web push notifications
VAPID_PUBLIC_KEY=BECJqbsZfUznpo_xM6Rqz34r6gfXgNkDpTc8OQ7ovWO1KdSRKHn5NsrPWOFzEJy4WZq6vn039fpAnAz0uWWdS4s
VAPID_PRIVATE_KEY=HBgwOrTelpML-JtXFF8gCjG1lsIMdLZAulhN0NQtEzA
VAPID_SUBJECT=mailto:your-email@example.com